extends layout

block content
  a(href='http://austincodingacademy.com')
    img(src='https://en.gravatar.com/userimage/107370100/a08594145564536138dfaaf072c7b241.png')
  h1 Google Form Stripper
  p Paste your public Google form url below and press submit
  form
    input(type='text', style='width: 500px')
    br
    br
    input(type='submit')
  div
    pre
     code
